In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

# A dictionary of high schools and the type of school.

In [5]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [7]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [9]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [10]:
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [11]:
import pandas as pd

In [12]:
schools_series = pd.Series(high_schools)

In [13]:
schools_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [17]:
for x in schools_series: 
    print(x)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [18]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [19]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [24]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [26]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [28]:
schools_df["School ID"] = school_id

In [29]:
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [30]:
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

In [31]:
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [33]:
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'school_name': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [34]:
pd.DataFrame(high_schools_dict)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [35]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [36]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [41]:
#Adding additional highschools

school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]

In [42]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [45]:
df2=pd.DataFrame(high_schools_dict)

In [46]:
df2

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter